<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928621659189-c5f6pjh72vguq1kjh8iqo5joqjdr2bu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928621659189-c5f6pjh72vguq1kjh8iqo5joqjdr2bu5</string>
	<key>API_KEY</key>
	<string>AIzaSyCoj6-pzFr_9j50lXJ2j3jN7vrUvcszKUA</string>
	<key>GCM_SENDER_ID</key>
	<string>928621659189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotify.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>random-1128d</string>
	<key>STORAGE_BUCKET</key>
	<string>random-1128d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928621659189:ios:05f3394ef9e7d9f2dc5d7c</string>
</dict>
</plist>